@import "Miyajima.css";

#about_us {
background-image:url("../img/work_bg.png");
width:1200px;
height:1000px;
background-size:100% 100%;
position:relative;
background-image:url("../img/work_bg.png");
}

#work {
	width:50%;
	float:right;
	font-size:14px;
	font-weight:bold;
	position:absolute;
	top:300px;
	right:20px;
}
.work_index {
	font-size:24px;
}

#area {
	clear:both;
	text-align:center;
	font-size:36px;
	font-weight:bold;
}
#curve img {
	width:100%;
	clear:both;
}
#map img {
	max-width:60%;
	max-height:60%;
	margin:0 auto;
}
#recruit {
	width:1200px;
	height:1000px;
	background-image:url("../img/recruite_bg.png");
  background-size:100% 100%;
	/* position:relative; */
}

#recruit .recruit_index {
	font-size:36px;
}

#recruit_text  {
	text-align:center;
	font-weight:bold;
	/* background-color:rgba(0,0,0,0.5); */

	/* position:absolute; */
	color:white;
}
#box_area p {
	text-align:center;
}
#box1 {
	float:left;
	background-color:rgba(0,0,0,0.5);
	border-radius:30px;
}
#box2 {
	 float:left;
	 background-color:rgba(0,0,0,0.5);
	 border-radius:30px;

}
#wide_box {
	clear:both;
	float:left;
	background-color:rgba(0,0,0,0.5);
	border-radius:30px;

}
#wide_box2 {
	float:left;
	background-color:rgba(0,0,0,0.5);
	border-radius:30px;

}
